*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
    overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden;
  -webkit-filter: blur(15px);
    -o-filter: blur(10px);
    filter: blur(8px);

}
.button{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50, -50);
}
.button{
    right: 24%;
    text-align: center;
    margin-top: 40px;
    height: 50px;
    width: 146px;
    background-color: gray;
    padding-top: 6px;
    border-radius: 30px;
    font-size: 30px;
    margin-left: auto;
    margin-right: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#bg-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -999;
}
.word{
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.word span{
    display: inline-block;
    font-family: "Poppins",sans-serif;
    font-size: 12vw;
    font-weight: 700;
    color: rgb(255, 255, 255);
   
    letter-spacing: 3vw;
    text-shadow: 0 15px 25px rgba(32, 179, 201, 0.5);
    position: relative;
    transform: translateY(-100vh);
    animation: fall 3.5s forwards;
}
@keyframes fall{
    100%{
        transform: translateY(0);
    }
}
.word span:nth-child(2){
    animation-delay: 0.7s;
}
.word span:nth-child(3){
    animation-delay: 1.4s;
}
.word span:nth-child(4){
    animation-delay: 2.1s;
}
.word span:nth-child(5){
    animation-delay: 2.8s;
}